# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Build
bin/
dist/

# Environment
.env

# IDE
.idea/
.vscode/

# Dependency directories
vendor/

# Test binary, built with go test -c
*.test

# Output of the go coverage tool
*.out
